*{margin:0;padding:0;box-sizing:border-box}

body{
    height:100vh;
    overflow:hidden;
    font-family:"Montserrat",sans-serif;
}

.hero{
    height:100vh;
    position:relative;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.background{
    position:absolute;
    inset:0;
    z-index:-2;
    background:linear-gradient(135deg,#98e1ed,#ccede8,#eacce3,#f178a1,#de6c83,#f780a8,#eacce3,#ccede8,#98e1ed);
    background-size:350% 350%;
    animation:mouvementFond 8s ease infinite;
}

@keyframes mouvementFond{
    0%,100%{background-position:0% 50%}
    50%{background-position:100% 50%}
}

.sparkles{
    position:absolute;
    inset:0;
    z-index:-1;
    pointer-events:none;
}

.sparkles span{
    position:absolute;
    color:white;
    font-size:22px;
    text-shadow:0 0 8px white,0 0 18px #ffd6ef,0 0 25px white;
    animation:etoile 3s ease-in-out infinite;
}

.sparkles span:nth-child(1){top:10%;left:15%}
.sparkles span:nth-child(2){top:25%;left:35%;animation-delay:.8s}
.sparkles span:nth-child(3){top:70%;left:20%;animation-delay:.4s}
.sparkles span:nth-child(4){top:18%;left:75%;animation-delay:1.5s}
.sparkles span:nth-child(5){top:55%;left:88%;animation-delay:1s}
.sparkles span:nth-child(6){top:80%;left:70%;animation-delay:.6s}
.sparkles span:nth-child(7){top:85%;left:45%;animation-delay:1.8s}
.sparkles span:nth-child(8){top:55%;left:55%;animation-delay:.3s}
.sparkles span:nth-child(9){top:7%;left:90%;animation-delay:2s}
.sparkles span:nth-child(10){top:90%;left:10%;animation-delay:1.2s}

@keyframes etoile{
    0%,100%{opacity:.25;transform:scale(.6)}
    50%{opacity:1;transform:scale(1.5) rotate(20deg)}
}

.petit-titre,
.grand-titre,
.btn-commencer{
    opacity:0;
    transform:translateY(45px);
    animation:apparition 1s forwards;
}

.petit-titre{
    font-family:"Caveat",cursive;
    font-size:clamp(3rem,6vw,5rem);
    margin-bottom:-15px;
    color:black;
    animation-delay:.2s;
}

.grand-titre{
    font-size:clamp(4rem,12vw,9rem);
    font-weight:900;
    letter-spacing:-5px;
    line-height:1;
    color:black;
    animation-delay:.7s;
}

.btn-commencer{
    margin-top:50px;
    width:90px;
    height:90px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    animation-delay:1.2s;
}

.btn-commencer img{
    width:50px;
    display:block;
    transform:rotate(90deg);
    transition:.3s ease;
}



@keyframes apparition{
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.fade-transition{
    position:fixed;
    inset:0;
    background:white;
    opacity:0;
    pointer-events:none;
    z-index:9999;
    transition:opacity .8s ease;
}

.fade-transition.active{
    opacity:1;
}